.dash-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  margin: 2rem;
  margin-top: 3rem;
}

.box-1,
.box-2 {
  box-shadow: 0 5px 10px rgb(0, 0, 0.2);
  border-radius: 4.5rem;
  background-color: white;
  text-align: center;
  padding: 30px 20px;
}
.box-3 {
  grid-column: span 2;
  box-shadow: 0 5px 10px rgb(0, 0, 0.2);
  border-radius: 4.5rem;
  background-color: white;
  padding: 30px 20px;
  min-height: 50vh;
  height: auto;
}
@media (max-width: 768px) {
  .dash-Container {
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 10px;
    margin-top: 2rem;
  }

  .box-1,
  .box-2 {
    padding: 20px 10px;
  }

  .box-3 {
    grid-column: span 1;
    padding: 20px 10px;
  }
}

@media (max-width: 480px) {
  .dash-Container {
    grid-template-columns: 1fr;
    gap: 5px;
    margin: 5px;
    margin-top: 1rem;
  }

  .box-1,
  .box-2 {
    padding: 10px;
  }

  .box-3 {
    grid-column: span 1;
    padding: 10px;
  }
}
